/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  @import "bootstrap-sprockets";
  @import "bootstrap";

 /* common */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000000;
}
a {
  color: #808080;
  text-decoration: none;
  font-size: 13px;
}
a:link{
}
a:visited{
}
a:hover{
   color: #c0c0c0;
   background-color: #000;
}
a:active{
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

header{
	background-color: #000;
}
.footer{
	margin-left: 75%;
	font-size: 13px;
}
.Bookers{
	color: #fff;
	font-size: 20px;
}

.field,.actions{
	margin-bottom: 10px;
}
.btn-color{
    color: #fff;
	background-color: #00f;
}
.btn-color2{
	background-color: #0f0;
	padding: 5px 10px;
	border-radius: 3px;
}
.btn-color3{
	background-color: #f00;
	padding: 5px 10px;
	border-radius: 3px;
}

p{
	font-size: 13px
}
.text{
    margin: 30px;
}
.botan{
	padding: 8px 0;
}

.top{
	padding: 25px 0 0 35px;
}

.table{
	border-spacing: 10px 8px;
}
.tr{
	font-size: 13px;
}

.label_title{
	font-size: 13px;
}
.label_body{
	font-size: 13px;
}

#error_explanation{
	width: 450px;
	padding: 7px;
	margin-bottom: 20px;
	background-color: #f0f0f0;
	border: 2px sorid #f00;
}
.error-text{
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: -7px;
	margin-bottom: 0;
	background-color: #f00;
	color: #fff;
}

#notice{
	color: green;
}